# ============================================
# BASE DE DATOS - MONGODB
# ============================================
MONGODB_URI=mongodb://localhost:27017/btg_fondos

# ============================================
# AUTENTICACIÓN JWT
# ============================================
JWT_SECRET_KEY=clave_secreta_minimo_32_caracteres

# ============================================
# EMAIL (Notificaciones)
# ============================================
SENDER_EMAIL=tu_email@gmail.com
SENDER_PASSWORD=tu_contraseña_app_gmail

# ============================================
# TWILIO (SMS)
# ============================================
TWILIO_SID=tu_account_sid_de_twilio
TWILIO_TOKEN=tu_auth_token_de_twilio
TWILIO_FROM=+1234567890

# ============================================
# LOGGING
# ============================================
LOG_LEVEL=INFO
LOG_FILE=logs/app.log

# Validaciones
MONTO_MINIMO_PERMITIDO=1000
MONTO_MAXIMO_PERMITIDO=10000000